<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A sinple RESTful API of advices by students, for students"
    />
    <link rel="shortcut icon" href="images/favicon-32.png" type="image/x-icon">
    <title>Student Advice API</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="container header-container">
        <a class="logo" href="/">Student Advice API</a>

      <nav class="navbar">
        <a href="/shareAdvice" class="navbar__link">Share Your Advice</a>
      </nav>
      </div>
    </header>
