<%- include('partials/header') -%>

<main class="main container" style="text-align: center;">
    <h1 class="section-title">Watch out for that semi-colon! This page is under construction <br>
    Code flying all over the place... Come back later✌️
    </h1>

</main>
<%- include('partials/footer') -%>